@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --dark:#1a2e35;
  --dark-footer:rgb(40, 118, 118);
  --light: #99e9e9;
  --accent1: #fc9251;
  --accent1-dark: #f9843a;
  --accent2: #1cbbb4 ;
  --bg:#d1efea;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--accent1-dark);
  box-shadow: 1px 1px 4px #c8c6c1;
  padding: 0.7rem 1.8rem;
  border-radius: 3px;
  width: 120px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
}
button:hover {
  background-color: var(--accent1);
  box-shadow: 2px 1px 5px #c2b49e;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: white;
  box-shadow: 1px 0px 5px darkgrey;
}
header .container {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .left-side-header {
  display: flex;
  align-items: center;
}
header .container .left-side-header .mobile-menu {
  color: var(--accent2);
  font-size: 2rem;
  margin-right: 0.8rem;
}
header .container .left-side-header .close-menu {
  display: none;
}
header .container .left-side-header .display-exit-btn {
  display: block;
  position: fixed;
  z-index: 3;
  background-color: var(--dark);
  font-size: 2rem;
  width: 30px;
  color: var(--accent2);
}
header .container .left-side-header .logo {
  display: none;
}
header .container .upper-nav {
  display: flex;
  flex-direction: column;
}
header .container .upper-nav .goog-te-gadget {
  display: inline-block;
  color: transparent !important;
  margin-bottom: -20px;
}
header .container .upper-nav .goog-te-gadget span > a {
  display: none;
}
header .container .upper-nav a {
  color: black;
  font-weight: bold;
}
header .container .upper-nav a i {
  font-size: 1rem;
}
header .container .navbar {
  display: none;
}
header .container .display-menu {
  display: block;
  background-color: var(--dark);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
header .container .display-menu ul {
  padding-top: 5rem;
}
header .container .display-menu ul li {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
header .container .display-menu ul li a {
  padding-bottom: 2px;
  color: white;
}
header .container .display-menu ul li a:hover {
  color: var(--accent2);
}
header .container .display-menu ul li .current {
  border-bottom: 2px solid white;
}
header .container .display-menu ul li .current:hover {
  border-bottom: 2px solid var(--accent2);
}

.first {
  padding-top: 4.5rem;
}

.title {
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3rem;
}

.centered {
  margin: 0 auto;
}

.hero {
  background-image: url("../img/pexels-lukas-žvikas-1075947.jpg");
  transform: scaleX(-1);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  color: white;
  padding: 5rem 0 4rem 0;
}
.hero h1, .hero p {
  transform: scaleX(-1);
}
.hero h1 {
  text-transform: uppercase;
  padding-bottom: 3rem;
  line-height: 2.5rem;
}
.hero p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.fleet .title {
  padding: 6rem 0 3rem 0;
  line-height: 28px;
}
.fleet .cars {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.fleet .cars .car {
  padding: 10px 0 0 5px;
  width: 290px;
  box-shadow: 2px 2px 7px lightgray; /*var(--dark);*/
  border-radius: 5px;
  margin: 0 auto 3rem auto;
  position: relative;
}
.fleet .cars .car img {
  margin-top: 1.5rem;
  width: 280px;
}
.fleet .cars .car .car-title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark);
  margin: 20px 0 40px 0;
  text-align: center;
}
.fleet .cars .car .car-details li {
  padding: 0 0 5px 10px;
}
.fleet .cars .car .car-details li h3 {
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 500;
  width: 150px;
}
.fleet .cars .car .car-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem;
}
.fleet .cars .car .car-buttons a {
  color: black;
}

.min-price {
  background-color: orangered;
  position: absolute;
  height: 75px;
  width: 75px;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4rem;
}
.min-price span {
  font-size: 1.6rem;
  font-weight: bold;
}

.car-page {
  padding: 4rem 0;
}
.car-page .particular-car {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car-page .particular-car .car-photo {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 7px lightgray;
  height: 230px;
}
.car-page .particular-car .car-photo .min-price {
  padding: 1px 5px;
  top: 5px;
  left: 5px;
  width: 63px;
  height: 63px;
  font-size: 0.7rem;
  line-height: 20px;
}
.car-page .particular-car .car-photo .min-price span {
  font-size: 1.2rem;
}
.car-page .particular-car .car-photo img {
  padding-top: 20px;
  width: 280px;
  border-radius: 10%;
}
.car-page .particular-car h3 {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: var(--dark);
}
.car-page .particular-car .car-specs {
  font-size: 0.95rem;
  width: 280px;
}
.car-page .particular-car .car-specs li {
  line-height: 28px;
}
.car-page .particular-car .car-specs li span {
  margin-left: 10px;
  font-weight: 500;
  float: right;
}
.car-page .particular-car .car-specs .car-equipment li {
  text-align: center;
}
.car-page .particular-car .price-days {
  margin: 0.7rem 0.2rem 5rem 0.2rem;
  width: 100%;
  padding: 1rem 0.5rem 0 0.7rem;
  box-shadow: 0px 0px 6px lightgray;
  border-radius: 5px;
}
.car-page .particular-car .price-days div:first-child {
  border-bottom: 1.5px solid lightgray;
  margin-bottom: 1rem;
}
.car-page .particular-car .price-days span {
  display: inline-block;
  padding-bottom: 1rem;
  width: 16%;
  text-align: center;
}
.car-page .particular-car .price-days .price-days-title {
  font-weight: bold;
  width: 29%;
  text-align: left;
}
.car-page .particular-car .price-total {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(232, 232, 232, 0.5);
  color: var(--dark);
  border-radius: 5rem 0;
  padding: 4rem 1.5rem;
  text-align: center;
}
.car-page .particular-car .price-total p {
  font-size: 1.05rem;
  padding-bottom: 1rem;
}
.car-page .particular-car .price-total p:last-child {
  padding-bottom: 0;
}
.car-page .reserve-btn {
  display: block;
  width: unset;
  margin: 4rem auto 2rem auto;
  cursor: pointer;
}
.car-page .reserve-btn a {
  color: black;
  font-size: 1.3rem;
}

.price-page {
  padding: 4rem 0;
}
.price-page .price-text p {
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
}
.price-page .price-table {
  margin: 3rem auto 2rem auto;
  font-size: 1.1rem;
  overflow-x: auto;
}
.price-page .price-table .header-row {
  width: 1050px;
  margin: 0 auto;
  background-color: rgba(29, 86, 86, 0.3);
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: 1.3rem;
  height: 4rem;
  padding: 1.5rem 100px 1rem 250px;
  display: flex;
}
.price-page .price-table .header-row span {
  flex-basis: 15%;
  position: relative;
}
.price-page .price-table .header-row span .bonus {
  display: none;
}
.price-page .price-table .header-row span .display-bonus {
  display: block;
  position: absolute;
  background-color: white;
  color: black;
  font-weight: normal;
  font-size: 0.95rem;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 0px 10px darkgrey;
}
.price-page .price-table .header-row span:last-child {
  flex-basis: 20%;
}
.price-page .price-table .row {
  width: 1050px;
  margin: 0 auto;
  padding: 0.9rem 0.5rem;
  border-bottom: 1px solid black;
  height: 60px;
}
.price-page .price-table .row span {
  display: inline-block;
  width: 100px;
  font-size: 1.3rem;
}
.price-page .price-table .row span.car-name {
  font-size: 1.3rem;
  width: 255px;
}
.price-page .price-table .row .reserve-btn {
  float: right;
  height: 40px;
  padding: 0.3rem 1.3rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.price-page .price-table .row:hover {
  background-color: rgba(29, 86, 86, 0.15);
}
.price-page .price-table .row:last-child {
  border-bottom: none;
}

.reservation-page {
  padding: 4rem 0.5rem 2rem 0.5rem;
}
.reservation-page input, .reservation-page select, .reservation-page textarea {
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
}
.reservation-page select, .reservation-page input[type=date] {
  padding: 0.3rem;
}
.reservation-page .reservation-info {
  font-size: 1.2rem;
  padding-bottom: 2.5rem;
}
.reservation-page .reservation-info a {
  color: black;
  font-weight: 600;
}
.reservation-page .reservation {
  max-width: 500px;
  display: grid;
  gap: 4%;
  margin-bottom: 5rem;
}
.reservation-page .reservation .car-select, .reservation-page .reservation .date-select, .reservation-page .reservation .personal-info {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.reservation-page .reservation .car-select h2, .reservation-page .reservation .date-select h2, .reservation-page .reservation .personal-info h2 {
  color: black;
  background-color: rgb(240, 240, 240);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: -0.5rem;
  margin-bottom: 1.5rem;
}
.reservation-page .reservation .car-select select {
  font-size: 1rem;
}
.reservation-page .reservation .car-select p.reservation-price {
  float: right;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.2rem;
  padding: 1.2rem 0.6rem 0.3rem 0.6rem;
  margin-bottom: 1rem;
  background-color: var(--accent1-dark);
  border-radius: 50%;
}
.reservation-page .reservation .car-select .reservation-img img {
  width: 270px;
  display: block;
  margin: auto;
}
.reservation-page .reservation .date-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reservation-page .reservation .date-select h2 {
  grid-column: 1/3;
}
.reservation-page .reservation .date-select input {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
.reservation-page .reservation .date-select div {
  margin-bottom: 1rem;
}
.reservation-page .reservation .date-select div p {
  padding: 0.5rem 0;
}
.reservation-page .reservation .personal-info {
  margin-bottom: 3rem;
}
.reservation-page .reservation .personal-info input {
  float: right;
  padding: 2px 5px;
  margin-top: 5px;
}
.reservation-page .reservation .personal-info label {
  line-height: 30px;
  position: relative;
}
.reservation-page .reservation .personal-info label span {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
}
.reservation-page .reservation .personal-info textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.reservation-page .summary {
  max-width: 500px;
  background-color: var(--dark);
  color: white;
  padding: 4rem 1rem 1rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
}
.reservation-page .summary h2 {
  text-align: center;
  padding-bottom: 3rem;
}
.reservation-page .summary div {
  padding-bottom: 0.8rem;
  font-size: 1.05rem;
}
.reservation-page .summary div span {
  width: 45px;
  font-weight: 600;
  float: right;
}
.reservation-page .summary div.show-scdw {
  position: relative;
  padding-bottom: 2rem;
}
.reservation-page .summary div.show-scdw .bonus {
  display: none;
}
.reservation-page .summary div.show-scdw .display-bonus {
  display: block;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  background-color: white;
  color: black;
  font-weight: normal;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 0px 10px rgb(94, 94, 94);
}
.reservation-page .summary .total-price {
  border-top: 2px solid rgba(238, 252, 250, 0.3);
  padding: 2.5rem 0 2.5rem 0.3rem;
  font-weight: bold;
}
.reservation-page .summary .total-price span {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}
.reservation-page .accord {
  max-width: 500px;
  padding-top: 2rem;
  padding-left: 1rem;
}
.reservation-page .submit-btn {
  cursor: pointer;
  display: block;
  margin: 3rem auto;
  padding: 1rem 1.6rem;
  background-color: var(--accent1-dark);
  border: transparent;
  border-radius: 5px;
  box-shadow: 2px 1px 4px #c2b49e;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(40, 40, 40);
}
.reservation-page .submit-btn:hover {
  background-color: var(--accent1);
  box-shadow: 3px 2px 5px #c2b49e;
}
.reservation-page .reservation-other p {
  font-size: 0.8rem;
  padding-bottom: 0.7rem;
}

.terms {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  padding: 4rem 0.5rem 2rem 0.5rem;
  font-size: 0.9rem;
}
.terms h3 {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.terms p {
  padding-bottom: 1rem;
}
.terms ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.terms ul li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding-left: 10px;
}
.terms ul li:last-child {
  margin-bottom: 0;
}

.succes {
  padding-top: 4rem;
  height: 100vh;
}
.succes p {
  font-size: 1.3rem;
  text-align: center;
}

.questions .question-unit {
  margin-bottom: 10px;
}
.questions .question-unit .question {
  padding: 1rem 1.4rem 1rem 0.5rem;
  background-color: var(--accent2);
  color: white;
  font-weight: 500;
  position: relative;
}
.questions .question-unit .question:before {
  content: "+";
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.7rem;
  transform: translateY(-50%);
}
.questions .question-unit .answer {
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s;
}
.questions .active .question:before {
  content: "-";
}
.questions .active .answer {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0.5rem;
  overflow: auto;
}

.to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--accent2);
  background-color: white;
  border-radius: 50%;
}

footer {
  background-color: var(--dark-footer);
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: var(--accent1);
}
footer .container {
  text-align: center;
}
footer .container .upper-footer {
  padding-bottom: 0.3rem;
}
footer .container .upper-footer h3 {
  padding-bottom: 1rem;
}
footer .container .upper-footer li {
  padding-bottom: 0.4rem;
}
footer .container .upper-footer .footer-contact {
  padding: 2rem 0;
}
footer .container .upper-footer .footer-contact i {
  margin-right: 7px;
}
footer .container .upper-footer .footer-info {
  padding-bottom: 2rem;
}
footer .container .upper-footer .footer-info i {
  display: none;
}
footer .container .upper-footer iframe {
  display: none;
}
footer .container .lower-footer {
  border-top: 1px solid var(--accent1);
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 760px) {
  .container {
    padding: 1.5rem;
  }
  header .container {
    align-items: unset;
  }
  header .container .mobile-menu {
    display: none;
  }
  header .container .left-side-header .logo {
    display: inline-block;
    width: 9rem;
  }
  header .container .left-side-header .contract-logo {
    width: 6rem;
  }
  header .container .right-side-header {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .container .right-side-header .upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3%;
  }
  header .container .right-side-header .upper-nav .contact-no {
    display: inline;
    font-weight: bold;
    margin-right: 1rem;
  }
  header .container .right-side-header .contract-nav {
    display: none;
  }
  header .container .right-side-header .navbar {
    display: block;
  }
  header .container .right-side-header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
  header .container .right-side-header .navbar a {
    color: var(--dark);
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 2px;
  }
  header .container .right-side-header .navbar a:hover {
    color: var(--accent2);
  }
  header .container .right-side-header .navbar .current {
    border-bottom: 2px solid var(--dark);
  }
  header .container .right-side-header .navbar .current:hover {
    border-bottom: 2px solid var(--accent2);
  }
  .first {
    padding-top: 6rem;
  }
  .title {
    text-align: left;
  }
  .hero p {
    font-size: 1.1rem;
  }
  .car-page {
    padding-top: 4rem;
  }
  .car-page .title {
    margin-left: 5rem;
  }
  .car-page .particular-car {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .car-page .particular-car .car-photo {
    height: 300px;
  }
  .car-page .particular-car .car-photo .min-price {
    top: 23px;
    left: 9px;
  }
  .car-page .particular-car .car-photo img {
    margin-top: 1rem;
    width: 350px;
    border-radius: 5%;
  }
  .car-page .particular-car h3 {
    margin-bottom: 1.5rem;
  }
  .car-page .particular-car .price-days-div {
    order: 2;
    flex-basis: 40%;
  }
  .car-page .particular-car .car-specs {
    width: unset;
    order: 3;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    width: 100%;
  }
  .car-page .particular-car .car-specs li {
    line-height: 1.4rem;
  }
  .car-page .particular-car .car-specs .specs {
    width: 300px;
  }
  .car-page .particular-car .car-specs .car-equipment {
    width: 400px;
  }
  .car-page .particular-car .car-specs .car-equipment ul {
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  .car-page .particular-car .price-total {
    order: 4;
    border-radius: 2rem 5rem;
    margin: 1.7rem auto;
  }
  .car-page .particular-car .price-total p {
    font-size: 1rem;
  }
  .car-page .reserve-btn {
    margin-top: 2rem;
  }
  .price-page {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .price-page .price-text p {
    font-size: 1.1rem;
  }
  .reservation-page {
    padding-top: 4rem;
  }
  .reservation-page .reservation {
    max-width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }
  .reservation-page .reservation .car-select {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 540px;
  }
  .reservation-page .reservation .car-select p.reservation-price {
    padding: 0.6rem;
    font-weight: 500;
    width: 130px;
    height: 70px;
    border-radius: 5px;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 320px;
    padding-top: 3rem;
  }
  .reservation-page .reservation .date-select {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .reservation-page .reservation .personal-info {
    padding-bottom: 0.5rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .reservation-page .reservation .personal-info input {
    width: 220px;
  }
  .reservation-page .summary div.show-scdw .display-bonus {
    left: 150px;
    top: 1.5rem;
    width: 270px;
  }
  .terms {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .succes {
    padding-top: 4rem;
  }
  .succes p {
    text-align: left;
  }
  footer .container {
    text-align: left;
  }
  footer .container .upper-footer {
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .upper-footer .footer-info i {
    display: inline;
    margin-right: 20px;
    font-size: 0.7rem;
  }
  footer .container .upper-footer iframe {
    display: inline-block;
  }
  footer .container .lower-footer {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
  header .container .right-side-header {
    flex-basis: 60%;
  }
  header .container .right-side-header .upper-nav .contact-no {
    font-size: 1.15rem;
  }
  header .container .right-side-header .navbar a {
    font-size: 1.2rem;
  }
  .title {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
  }
  .hero {
    margin-right: 0;
  }
  .hero h1 {
    font-size: 2.4rem;
    margin-left: 500px;
  }
  .hero p {
    font-size: 1.2rem;
    margin-left: 400px;
  }
  .fleet .cars .car {
    margin-bottom: 2rem;
    padding-left: 1rem;
    width: 330px;
  }
  .fleet .cars .car img {
    width: 320px;
    margin-left: -1rem;
  }
  .fleet .cars .car .car-buttons {
    margin-right: 1.5rem;
  }
  .car-page .title {
    margin-left: 0;
  }
  .car-page .particular-car h3 {
    font-size: 1.6rem;
    padding-bottom: 1.3rem;
  }
  .car-page .particular-car .car-photo {
    height: 500px;
    flex-basis: 45%;
    padding-bottom: 2.5rem;
  }
  .car-page .particular-car .car-photo .min-price {
    width: 75px;
    height: 75px;
    font-size: 1rem;
  }
  .car-page .particular-car .car-photo .min-price span {
    font-size: 1.5rem;
  }
  .car-page .particular-car .car-photo img {
    width: 450px;
    margin-top: 50px;
  }
  .car-page .particular-car .car-specs {
    order: 2;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2rem;
  }
  .car-page .particular-car .car-specs li {
    padding: 3px 0;
  }
  .car-page .particular-car .car-specs .specs {
    width: 430px;
  }
  .car-page .particular-car .car-specs .specs h3 {
    padding-top: 0;
  }
  .car-page .particular-car .car-specs .car-equipment {
    width: 430px;
  }
  .car-page .particular-car .car-specs .car-equipment div:first-child li {
    text-align: left;
  }
  .car-page .particular-car .car-specs .car-equipment div:nth-child(2) li {
    text-align: right;
  }
  .car-page .particular-car .price-days-div {
    padding-top: 2rem;
    order: 3;
    flex-basis: 40%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .car-page .particular-car .price-days-div h3 {
    padding-top: 0;
  }
  .car-page .particular-car .price-total {
    margin-right: 0;
    margin-top: 0;
    flex-basis: 50%;
    max-width: 800px;
  }
  .car-page .particular-car .price-total p {
    font-size: 1.2rem;
  }
  .car-page .reserve-btn {
    margin: 5rem auto 5rem auto;
  }
  .car-page .reserve-btn a {
    font-size: 1.5rem;
  }
  .price-page .price-text p {
    font-size: 1.2rem;
  }
  .reservation-page input[type=date] {
    font-size: 1rem;
  }
  .reservation-page .reservation .car-select {
    height: 595px;
  }
  .reservation-page .reservation .car-select h2 {
    margin-bottom: 0;
  }
  .reservation-page .reservation .car-select select {
    margin: 1rem 0 0 0.5rem;
    font-size: 1rem;
  }
  .reservation-page .reservation .car-select p.reservation-price {
    margin: 1rem 0.5rem 0 0;
    font-weight: bold;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 400px;
    padding-top: 4rem;
  }
  .reservation-page .reservation .date-select p {
    font-size: 1.2rem;
  }
  .reservation-page .reservation .personal-info {
    padding: 1rem;
  }
  .reservation-page .reservation .personal-info h2 {
    margin: -1rem;
    margin-bottom: 1rem;
  }
  .reservation-page .reservation .personal-info input {
    font-size: 0.9rem;
  }
  .reservation-page .reservation .personal-info label {
    font-size: 1.2rem;
    line-height: 40px;
  }
  .reservation-page .summary {
    max-width: unset;
    width: 700px;
    padding: 1.5rem 6rem;
  }
  .reservation-page .accord {
    max-width: 700px;
    padding-left: 6rem;
  }
  .reservation-page .submit-btn {
    font-size: 1.5rem;
    margin: 5rem auto;
  }
  .reservation-page .reservation-other p {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
  }
  .terms {
    font-size: 1rem;
  }
  .succes p {
    font-size: 1.4rem;
  }
  .to-top {
    bottom: 1.5rem;
    right: 2rem;
    font-size: 2.3rem;
  }
  footer .container .upper-footer iframe {
    width: 500px;
    height: 330px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
  header .right-side-header {
    flex-basis: 40%;
  }
  .hero h1 {
    margin-left: 700px;
  }
  .hero p {
    margin-left: 500px;
  }
  .fleet > .cars > .car > .car-buttons {
    margin-right: 1.7rem;
  }
  .car-page .particular-car h3 {
    font-size: 1.8rem;
  }
  .car-page .particular-car .car-photo .min-price {
    top: 27px;
    width: 80px;
    height: 80px;
    font-size: 1.1rem;
  }
  .car-page .particular-car .car-photo .min-price span {
    font-size: 1.7rem;
  }
  .car-page .particular-car .car-photo img {
    width: 530px;
  }
  .car-page .particular-car .car-specs {
    font-size: 1.3rem;
  }
  .car-page .particular-car .car-specs .specs, .car-page .particular-car .car-specs .car-equipment {
    width: 480px;
  }
  .price-page {
    max-width: 1100px;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 450px;
    padding-top: 3rem;
  }
  .reservation-page .reservation .personal-info input {
    width: 250px;
  }
  .reservation-page .summary {
    width: 800px;
    padding: 2.5rem 7rem 1.5rem 7rem;
    font-size: 1.2rem;
  }
  .reservation-page .summary div.show-scdw .display-bonus {
    font-size: 1rem;
  }
  .reservation-page .accord {
    font-size: 1.1rem;
    max-width: 800px;
    padding-left: 7rem;
  }
  .reservation-page .reservation-other p {
    font-size: 1rem;
  }
  footer .container .upper-footer > div {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .upper-footer > div .footer-contact {
    margin-bottom: 20px;
  }
  footer .container .upper-footer > div .footer-contact li {
    padding-top: 10px;
  }
  footer .container .upper-footer iframe {
    width: 500px;
  }
}/*# sourceMappingURL=styles.css.map */