/*TO DO 
//+ sa apeleze nr de telefon in mobile - mutat din rezerevari in toate! 

*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --dark:rgb(29, 86, 86);
  --dark-footer:rgb(40, 118, 118);
  --light: #99e9e9;
  --accent1: rgb(242, 172, 67);
  --accent1-dark:rgb(231, 139, 0);
  --accent2: #52c3c3;
  --bg: #effcfa;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--accent1-dark);
  box-shadow: 2px 1px 4px #c2b49e;
  padding: 1rem;
  border-radius: 13px;
  width: 100px;
  border: none;
  font-size: 1.05rem;
  font-weight: bold;
}
button:hover {
  background-color: var(--accent1);
  box-shadow: 3px 2px 5px #c2b49e;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: white;
}
header .container {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .left-side-header {
  display: flex;
  align-items: center;
}
header .container .left-side-header .mobile-menu {
  color: var(--accent2);
  font-size: 2rem;
  margin-right: 0.8rem;
}
header .container .left-side-header .close-menu {
  display: none;
}
header .container .left-side-header .display-exit-btn {
  display: block;
  position: fixed;
  background-color: white;
  font-size: 2rem;
  width: 30px;
  color: var(--accent2);
}
header .container .left-side-header .logo {
  width: 6rem;
}
header .container .upper-nav {
  display: inline-block;
}
header .container .upper-nav p {
  display: inline-block;
}
header .container .upper-nav p i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
header .container .upper-nav a {
  color: black;
}
header .container .upper-nav .contact-no {
  color: black;
  display: none;
}
header .container .upper-nav .language {
  position: relative;
  display: inline-block;
  height: 1.5rem;
}
header .container .upper-nav .language img {
  width: 1.5rem;
  margin-bottom: -3px;
}
header .container .upper-nav .language span {
  font-size: 1rem;
  font-weight: bold;
}
header .container .upper-nav .other-language {
  display: none;
}
header .container .upper-nav .display-languages {
  background-color: white;
  display: block;
  position: absolute;
  right: 1px;
  top: 22px;
  padding: 1rem 0.5rem 0 0.5rem;
  width: 80px;
  border-radius: 3px;
  box-shadow: 1px 0px 10px darkgrey;
}
header .container .upper-nav .display-languages div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
header .container .upper-nav .display-languages div img {
  height: 17px;
  margin-right: 10px;
}
header .container .upper-nav .display-languages div a {
  font-weight: bold;
  color: black;
}
header .container .navbar {
  display: none;
}
header .container .display-menu {
  display: block;
  background-color: var(--dark-footer);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 4rem;
  text-align: center;
}
header .container .display-menu ul {
  padding-top: 2rem;
}
header .container .display-menu ul li {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
header .container .display-menu ul li a {
  padding-bottom: 2px;
  color: var(--light);
}
header .container .display-menu ul li a:hover {
  color: var(--accent1);
}
header .container .display-menu ul li .current {
  border-bottom: 2px solid var(--light);
}
header .container .display-menu ul li .current:hover {
  border-bottom: 2px solid var(--accent1);
}

.first {
  padding-top: 6rem;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.main-page p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.fleet .cars {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.fleet .cars .car {
  background-color: white;
  padding: 10px;
  width: 290px;
  box-shadow: 2px 2px 10px var(--dark-footer);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  position: relative;
}
.fleet .cars .car img {
  margin-top: 1rem;
  width: 280px;
}
.fleet .cars .car .car-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 20px;
  text-align: center;
}
.fleet .cars .car .car-details h3 {
  display: inline-block;
  width: 150px;
}
.fleet .cars .car .car-details li {
  padding-bottom: 5px;
  padding-left: 1rem;
  margin: 0 auto;
}
.fleet .cars .car .car-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.fleet .cars .car .car-buttons a {
  color: black;
}

.min-price {
  background-color: orangered;
  position: absolute;
  height: 75px;
  width: 75px;
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
}
.min-price span {
  font-size: 1.7rem;
  font-weight: bold;
}

.car-page .particular-car {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car-page .particular-car .car-photo {
  position: relative;
}
.car-page .particular-car .car-photo .min-price {
  top: 5px;
  left: 5px;
  width: 63px;
  height: 63px;
  font-size: 0.8rem;
}
.car-page .particular-car .car-photo .min-price span {
  font-size: 1.3rem;
}
.car-page .particular-car .car-photo img {
  width: 280px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px var(--dark-footer);
}
.car-page .particular-car h3 {
  padding-top: 1.7rem;
  padding-bottom: 0.9rem;
  text-align: center;
  color: var(--dark);
}
.car-page .particular-car .car-specs li span {
  margin-left: 10px;
  font-weight: bold;
  float: right;
}
.car-page .particular-car .car-specs .car-equipment li {
  text-align: center;
}
.car-page .particular-car .price-days {
  margin-bottom: 2rem;
  margin-top: 0.7rem;
  width: 100%;
  padding: 1rem 0.5rem 0 0.7rem;
  box-shadow: 0px 0px 6px rgb(29, 86, 86);
  border-radius: 5px;
}
.car-page .particular-car .price-days div:first-child {
  border-bottom: 1.5px solid rgb(29, 86, 86);
  margin-bottom: 1rem;
}
.car-page .particular-car .price-days span {
  display: inline-block;
  padding-bottom: 1rem;
  width: 16%;
  text-align: center;
}
.car-page .particular-car .price-days .price-days-title {
  font-weight: bold;
  width: 29%;
  text-align: left;
}
.car-page .particular-car .price-total {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--accent2);
  color: var(--dark);
  border-radius: 0 5rem;
  padding: 1.5rem 1.8rem;
  text-align: center;
}
.car-page .particular-car .price-total p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.car-page .particular-car .price-total p:last-child {
  padding-bottom: 0;
}
.car-page .reserve-btn {
  display: block;
  width: unset;
  padding: 1rem 2rem;
  margin: 3rem auto 2rem auto;
  cursor: pointer;
}
.car-page .reserve-btn a {
  color: black;
  font-size: 1.3rem;
}

.price-page .price-text p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.price-page .price-table {
  margin: 3rem auto 2rem auto;
  font-size: 1.1rem;
  overflow-x: auto;
}
.price-page .price-table .header-row {
  width: 1050px;
  margin: 0 auto;
  background-color: rgba(29, 86, 86, 0.3);
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 1.2rem;
  height: 4rem;
  padding: 1.5rem 100px 1rem 270px;
  display: flex;
}
.price-page .price-table .header-row span {
  flex-basis: 15%;
  position: relative;
}
.price-page .price-table .header-row span .bonus {
  display: none;
}
.price-page .price-table .header-row span .display-bonus {
  display: block;
  position: absolute;
  background-color: white;
  color: black;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 0px 10px darkgrey;
}
.price-page .price-table .row {
  width: 1050px;
  margin: 0 auto;
  padding: 0.9rem 0.5rem;
  border-bottom: 1px solid black;
  height: 60px;
}
.price-page .price-table .row span {
  display: inline-block;
  width: 100px;
}
.price-page .price-table .row span.car-name {
  width: 265px;
}
.price-page .price-table .row .reserve-btn {
  float: right;
  height: 40px;
  padding-top: 10px;
  margin-top: -0.5rem;
  margin-right: 1rem;
}
.price-page .price-table .row:hover {
  background-color: rgba(29, 86, 86, 0.15);
}
.price-page .price-table .row:last-child {
  border-bottom: none;
}

.reservation-page .reservation-info {
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
}
.reservation-page .reservation {
  max-width: 500px;
  display: grid;
  gap: 4%;
  margin-bottom: 5rem;
}
.reservation-page .reservation .car-select, .reservation-page .reservation .date-select, .reservation-page .reservation .personal-info {
  background-color: white;
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 0.5rem;
}
.reservation-page .reservation .car-select h2, .reservation-page .reservation .date-select h2, .reservation-page .reservation .personal-info h2 {
  color: rgb(23, 68, 68);
  background-color: var(--accent2);
  border-radius: 10px;
  padding: 0.5rem;
  margin: -0.5rem;
  margin-bottom: 0.5rem;
}
.reservation-page .reservation .car-select p.reservation-price {
  float: right;
  width: 50%;
  max-width: 200px;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.6rem;
  margin-bottom: 0.8rem;
  background-color: var(--accent1-dark);
  color: rgb(40, 40, 40);
  border-radius: 5rem;
}
.reservation-page .reservation .car-select .reservation-img img {
  width: 270px;
  display: block;
  margin: auto;
}
.reservation-page .reservation .date-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reservation-page .reservation .date-select h2 {
  grid-column: 1/3;
}
.reservation-page .reservation .date-select div {
  margin-bottom: 1rem;
}
.reservation-page .reservation .date-select div p {
  padding: 0.5rem 0;
}
.reservation-page .reservation .personal-info input {
  float: right;
  padding: 2px 5px;
  margin-top: 5px;
}
.reservation-page .reservation .personal-info label {
  line-height: 30px;
  position: relative;
}
.reservation-page .reservation .personal-info label span {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
}
.reservation-page .reservation .personal-info textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.reservation-page .summary {
  max-width: 500px;
  background-color: var(--dark);
  color: var(--bg);
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
}
.reservation-page .summary h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.reservation-page .summary div {
  padding-bottom: 0.8rem;
}
.reservation-page .summary div span {
  width: 45px;
  font-weight: bold;
  float: right;
}
.reservation-page .summary div.show-scdw {
  position: relative;
}
.reservation-page .summary div.show-scdw .bonus {
  display: none;
}
.reservation-page .summary div.show-scdw .display-bonus {
  display: block;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  background-color: white;
  color: black;
  font-weight: normal;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 0px 10px rgb(94, 94, 94);
}
.reservation-page .summary .total-price {
  border-top: 2px solid rgba(238, 252, 250, 0.3);
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-weight: bold;
}
.reservation-page .summary .total-price span {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.reservation-page .accord {
  max-width: 500px;
  padding-top: 2rem;
}
.reservation-page .submit-btn {
  cursor: pointer;
  display: block;
  margin: 2rem auto 3rem auto;
  padding: 1rem 1.6rem;
  background-color: var(--accent1-dark);
  border: transparent;
  border-radius: 1rem;
  box-shadow: 2px 1px 4px #c2b49e;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(40, 40, 40);
}
.reservation-page .submit-btn:hover {
  background-color: var(--accent1);
  box-shadow: 3px 2px 5px #c2b49e;
}
.reservation-page .reservation-other p {
  font-size: 0.8rem;
  padding-bottom: 0.7rem;
}

.succes {
  height: 100vh;
}
.succes p {
  font-size: 1.3rem;
  text-align: center;
}

.to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--accent2);
  background-color: white;
  border-radius: 50%;
}

footer {
  background-color: var(--dark-footer);
  color: var(--light);
}
footer a {
  color: var(--light);
}
footer a:hover {
  color: var(--accent1);
}
footer .container {
  text-align: center;
}
footer .container .upper-footer {
  padding-bottom: 0.3rem;
}
footer .container .upper-footer h3 {
  padding-bottom: 1rem;
}
footer .container .upper-footer li {
  padding-bottom: 0.4rem;
}
footer .container .upper-footer .footer-contact {
  padding: 2rem 0;
}
footer .container .upper-footer .footer-contact i {
  margin-right: 7px;
}
footer .container .upper-footer .footer-info {
  padding-bottom: 2rem;
}
footer .container .upper-footer .footer-info i {
  display: none;
}
footer .container .upper-footer iframe {
  display: none;
}
footer .container .lower-footer {
  border-top: 1px solid var(--accent1);
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 760px) {
  .container {
    padding: 1.5rem;
  }
  header .container {
    align-items: unset;
  }
  header .container .mobile-menu {
    display: none;
  }
  header .container .left-side-header .logo {
    width: 9rem;
  }
  header .container .right-side-header {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .container .right-side-header .upper-nav {
    text-align: right;
  }
  header .container .right-side-header .upper-nav .contact-no {
    display: inline;
    font-weight: bold;
    margin-right: 1rem;
  }
  header .container .right-side-header .navbar {
    display: block;
  }
  header .container .right-side-header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
  header .container .right-side-header .navbar ul li {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  header .container .right-side-header .navbar a {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    padding-bottom: 2px;
  }
  header .container .right-side-header .navbar a:hover {
    color: var(--accent1-dark);
  }
  header .container .right-side-header .navbar .current {
    border-bottom: 2px solid var(--dark);
  }
  header .container .right-side-header .navbar .current:hover {
    border-bottom: 2px solid var(--accent1-dark);
  }
  .first {
    padding-top: 7rem;
  }
  .title {
    text-align: left;
  }
  .main-page p {
    font-size: 1.1rem;
  }
  .car-page .particular-car {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .car-page .particular-car .car-photo .min-price {
    top: 23px;
    left: 9px;
  }
  .car-page .particular-car .car-photo img {
    margin-top: 1rem;
    width: 350px;
    border-radius: 5%;
  }
  .car-page .particular-car .price-days-div {
    order: 2;
    flex-basis: 40%;
  }
  .car-page .particular-car .car-specs {
    order: 3;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    gap: 10%;
  }
  .car-page .particular-car .car-specs li {
    line-height: 1.4rem;
  }
  .car-page .particular-car .car-specs .specs {
    width: 300px;
  }
  .car-page .particular-car .car-specs .car-equipment {
    width: 400px;
  }
  .car-page .particular-car .car-specs .car-equipment ul {
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  .car-page .particular-car .price-total {
    order: 4;
    border-radius: 2rem 5rem;
    margin-bottom: 1.7rem;
  }
  .price-page .price-text p {
    font-size: 1rem;
  }
  .reservation-page .reservation {
    max-width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }
  .reservation-page .reservation .car-select {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .reservation-page .reservation .car-select p.reservation-price {
    padding: 0.8rem;
    font-weight: bold;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 320px;
    padding-top: 3rem;
  }
  .reservation-page .reservation .date-select {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .reservation-page .reservation .personal-info {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .reservation-page .reservation .personal-info input {
    width: 220px;
  }
  .reservation-page .summary div.show-scdw .display-bonus {
    left: 150px;
    top: 1.5rem;
    width: 270px;
  }
  .succes p {
    text-align: left;
  }
  footer .container {
    text-align: left;
  }
  footer .container .upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .upper-footer .footer-info i {
    display: inline;
    margin-right: 20px;
    font-size: 0.7rem;
  }
  footer .container .upper-footer iframe {
    display: inline-block;
  }
  footer .container .lower-footer {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
  header .container .right-side-header {
    flex-basis: 60%;
  }
  header .container .right-side-header .upper-nav .contact-no {
    font-size: 1.15rem;
  }
  header .container .right-side-header .navbar a {
    font-size: 1.2rem;
  }
  .title {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
  }
  .main-page p {
    font-size: 1.2rem;
  }
  .fleet .cars .car {
    margin-bottom: 2rem;
    width: 330px;
  }
  .fleet .cars .car img {
    width: 320px;
  }
  .car-page .particular-car h3 {
    font-size: 1.6rem;
    padding-bottom: 1.3rem;
  }
  .car-page .particular-car .car-photo {
    flex-basis: 45%;
    padding-bottom: 2.5rem;
  }
  .car-page .particular-car .car-photo .min-price {
    width: 75px;
    height: 75px;
    font-size: 1rem;
  }
  .car-page .particular-car .car-photo .min-price span {
    font-size: 1.5rem;
  }
  .car-page .particular-car .car-photo img {
    width: 450px;
  }
  .car-page .particular-car .car-specs {
    order: 2;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2rem;
  }
  .car-page .particular-car .car-specs .specs {
    width: 430px;
  }
  .car-page .particular-car .car-specs .specs h3 {
    padding-top: 0;
  }
  .car-page .particular-car .car-specs .car-equipment {
    width: 430px;
  }
  .car-page .particular-car .car-specs .car-equipment div:first-child li {
    text-align: left;
  }
  .car-page .particular-car .car-specs .car-equipment div:nth-child(2) li {
    text-align: right;
  }
  .car-page .particular-car .price-days-div {
    padding-top: 2rem;
    order: 3;
    flex-basis: 40%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .car-page .particular-car .price-days-div h3 {
    padding-top: 0;
  }
  .car-page .particular-car .price-total {
    margin-right: 0;
    flex-basis: 50%;
    max-width: 800px;
  }
  .car-page .particular-car .price-total p {
    font-size: 1.2rem;
  }
  .car-page .reserve-btn a {
    font-size: 1.5rem;
  }
  .price-page .price-text p {
    font-size: 1.2rem;
  }
  .reservation-page .reservation .car-select select {
    margin: 1rem;
    font-size: 1rem;
  }
  .reservation-page .reservation .car-select p.reservation-price {
    margin: 1rem;
    font-weight: bold;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 400px;
    padding-top: 2rem;
  }
  .reservation-page .reservation .date-select p {
    font-size: 1.2rem;
  }
  .reservation-page .reservation .personal-info {
    padding: 1rem;
  }
  .reservation-page .reservation .personal-info h2 {
    margin: -1rem;
    margin-bottom: 1rem;
  }
  .reservation-page .reservation .personal-info input {
    font-size: 0.9rem;
  }
  .reservation-page .reservation .personal-info label {
    font-size: 1.2rem;
    line-height: 40px;
  }
  .reservation-page .summary {
    max-width: unset;
    width: 700px;
    padding: 1.5rem 6rem;
  }
  .reservation-page .submit-btn {
    font-size: 1.5rem;
  }
  .reservation-page .reservation-other p {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
  }
  .succes p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
  header .right-side-header {
    flex-basis: 40%;
  }
  .car-page .particular-car h3 {
    font-size: 1.8rem;
  }
  .car-page .particular-car .car-photo .min-price {
    top: 27px;
    width: 80px;
    height: 80px;
    font-size: 1.1rem;
  }
  .car-page .particular-car .car-photo .min-price span {
    font-size: 1.7rem;
  }
  .car-page .particular-car .car-photo img {
    width: 530px;
  }
  .car-page .particular-car .car-specs {
    font-size: 1.3rem;
  }
  .car-page .particular-car .car-specs .specs, .car-page .particular-car .car-specs .car-equipment {
    width: 480px;
  }
  .price-page {
    max-width: 1100px;
  }
  .reservation-page .reservation .car-select .reservation-img img {
    width: 450px;
    padding-top: 2.5rem;
  }
  .reservation-page .reservation .personal-info {
    padding: 2rem;
  }
  .reservation-page .reservation .personal-info h2 {
    margin: -2rem;
    margin-bottom: 1rem;
  }
  .reservation-page .reservation .personal-info input {
    width: 250px;
  }
  .reservation-page .summary {
    max-width: unset;
    width: 800px;
    padding: 2.5rem 7rem 1.5rem 7rem;
    font-size: 1.2rem;
  }
  .reservation-page .summary div.show-scdw .display-bonus {
    font-size: 1rem;
  }
  .reservation-page .accord {
    font-size: 1.1rem;
  }
  .reservation-page .reservation-other p {
    font-size: 1rem;
  }
  footer .container .upper-footer > div {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .upper-footer > div .footer-contact li {
    padding-top: 20px;
  }
}/*# sourceMappingURL=styles.css.map */