:root {
  --dark:#287676;
  --light: #99e9e9;
  --accent1: #f2ac43;
  --accent2: #52c3c3;
  --accent1-dark:#e78b00;
  --gray: #606060;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: white;
}
header .container {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .left-side-header {
  display: flex;
  align-items: center;
}
header .container .left-side-header .mobile-menu {
  color: var(--accent2);
  font-size: 2rem;
  margin-right: 0.8rem;
}
header .container .left-side-header .close-menu {
  display: none;
}
header .container .left-side-header .display-exit-btn {
  display: block;
  position: fixed;
  background-color: white;
  font-size: 2rem;
  width: 30px;
  color: var(--accent2);
}
header .container .left-side-header .logo {
  width: 6rem;
}
header .container .upper-nav {
  display: inline-block;
}
header .container .upper-nav p {
  display: inline-block;
}
header .container .upper-nav p i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
header .container .upper-nav .contact-no {
  display: none;
}
header .container .upper-nav .language {
  display: inline-block;
}
header .container .upper-nav .language img {
  width: 1.5rem;
  margin-bottom: -3px;
}
header .container .upper-nav .language span {
  font-size: 1rem;
  font-weight: bold;
}
header .container .navbar {
  display: none;
}
header .container .display-menu {
  display: block;
  background-color: var(--dark);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 4rem;
  text-align: center;
}
header .container .display-menu ul {
  padding-top: 2rem;
}
header .container .display-menu ul li {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
header .container .display-menu ul li a {
  padding-bottom: 2px;
  color: var(--light);
}
header .container .display-menu ul li a:hover {
  color: var(--accent1);
}
header .container .display-menu ul li .current {
  border-bottom: 2px solid var(--light);
}
header .container .display-menu ul li .current:hover {
  border-bottom: 2px solid var(--accent1);
}

section {
  padding-top: 5rem;
}

.to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--accent2);
  background-color: white;
  border-radius: 50%;
}

footer {
  background-color: var(--dark);
  color: var(--light);
}
footer a {
  color: var(--light);
}
footer a:hover {
  color: var(--accent1);
}
footer .container {
  text-align: center;
}
footer .container .upper-footer {
  padding-bottom: 0.3rem;
}
footer .container .upper-footer .footer-contact {
  padding: 2rem 0;
}
footer .container .upper-footer .footer-contact i {
  margin-right: 7px;
}
footer .container .upper-footer .footer-info {
  padding-bottom: 2rem;
}
footer .container .upper-footer iframe {
  display: none;
}
footer .container .lower-footer {
  border-top: 1px solid var(--accent1);
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 760px) {
  .container {
    padding: 1.5rem;
  }
  header .container {
    align-items: unset;
  }
  header .container .mobile-menu {
    display: none;
  }
  header .container .left-side-header .logo {
    width: 9rem;
  }
  header .container .right-side-header {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .container .right-side-header .upper-nav {
    text-align: right;
  }
  header .container .right-side-header .upper-nav .contact-no {
    display: inline;
    font-weight: bold;
    margin-right: 1rem;
  }
  header .container .right-side-header .navbar {
    display: block;
  }
  header .container .right-side-header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
  header .container .right-side-header .navbar ul li {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  header .container .right-side-header .navbar a {
    color: var(--accent2);
    font-weight: bold;
    letter-spacing: 0.4px;
    padding-bottom: 2px;
  }
  header .container .right-side-header .navbar a:hover {
    color: var(--accent1-dark);
  }
  header .container .right-side-header .navbar .current {
    border-bottom: 2px solid var(--accent2);
  }
  header .container .right-side-header .navbar .current:hover {
    border-bottom: 2px solid var(--accent1-dark);
  }
  section {
    padding-top: 6rem;
  }
  footer .container {
    text-align: left;
  }
  footer .container .upper-footer {
    display: flex;
    justify-content: space-between;
  }
  footer .container .upper-footer iframe {
    display: inline-block;
  }
  footer .container .lower-footer {
    text-align: center;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1100px;
  }
  header .right-side-header {
    flex-basis: 50%;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
  header .right-side-header {
    flex-basis: 40%;
  }
}/*# sourceMappingURL=styles.css.map */